<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INDEXSS</title>
  </head>
  <body>
    <div style="text-align: center"></div>
    <H1> pAGE NOMERO UNO</H1>
    <a href="/contact" class="btn btn-primary">Contact page</a>
  </body>
</html>
